
.App {
  text-align: center;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  
  
  line-height: 1.4rem;
}

.loginpage{
  display: flex;
  flex-direction: row;
   
}
.dine-overlay{
  background-image: url(./dine.jpg);
  
  
  
   background-size: cover;
  
   background-position: center;
  
   position: relative;
   width: 50%;
   height: 100vh;
  
  
   
  
}
.automate-takeaway{

   
    font-size: 24px;

    padding-top: 50%;
    color: #fff;
    font-size: 1.5rem;
    margin-left: 2rem;
}
p{
  color: #fff;
  margin-left: 2rem;
  font-size: 16px;
}
a {
  background: 0 0;
  text-decoration: none;
}
a.login-box {
  margin-left: 2rem;
  font-size: .9rem;
  font-weight: 400;
  border: 1px solid #fff;
  padding: .5rem 1.2rem;
  margin-top: 1rem;
  display: inline-block;
  color: #fff;
  transition: .3s;}
  a.login-box:hover {
    color: #4f7be8;
    border: 1px solid #4f7be8;
}







